.thingstodo-header{flex:1; padding:20px; text-align:center; background:#fff; 
border-bottom:1px solid #D3D6D6;border-left:1px solid #D3D6D6;border-right:1px solid #D3D6D6;border-radius: 0px 0px 5px 5px;}
